## Q1Select two datasets and create a user defined function in Python that leverages the fundamental features of the Python without using Pandas built in functions such as 
## (numeric_df =df.select_dtypes(include=['number'])
## categorical_df = df.select_dtypes(exclude=['number'])
 
## Your function should accept a Data Frame as input and categorize its columns into numeric and categorical types, then display the lists of numeric and categorical columns. Include a section in your report where you discuss your interpretation of this task and its significance within the field of artificial intelligence and make sure to run the code and attach a screenshot of your machine in the appendix of your report.

In [ ]:
import csv

file_path = "data.csv"
data = []

with open(file_path, "r") as file:
    csv_reader = csv.reader(file)
    for row in csv_reader:
        data.append(row)

## Q2 Write a function, the function should achieve the following objectives:
## In pandas:
## Concatenate the two datasets, which you have used in Question1,  along the rows.
## Remove any duplicate rows.
## Print the number of rows and columns in the resulting DataFrame.

In [119]:
import pandas as pd
from sklearn.datasets import load_iris
iris_data = load_iris()

from sklearn.datasets import load_wine
wine_data = load_wine()

In [ ]:
import numpy as np

In [121]:
iris_df = pd.DataFrame(data=iris_data.data, columns=iris_data.feature_names)
wine_df = pd.DataFrame(data=wine_data.data, columns=wine_data.feature_names)

In [123]:
dataset=pd.concat([iris_df, wine_df])
dataset

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,5.1,3.5,1.4,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.9,3.0,1.4,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.7,3.2,1.3,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,3.6,1.4,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,NaN,NaN,NaN,NaN,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740.0
174,NaN,NaN,NaN,NaN,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750.0
175,NaN,NaN,NaN,NaN,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835.0
176,NaN,NaN,NaN,NaN,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840.0
177,NaN,NaN,NaN,NaN,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560.0

In [135]:
dataset = dataset.drop_duplicates()

In [129]:
dataset.shape

(327, 17)

In NumPy:
Calculate the correlation matrix for all numeric columns.
Identify the pair of columns with the highest correlation coefficient.
Print the names of these columns along with their correlation coefficient.
Include a section in your report where you discuss your comprehension of this task and its relevance in the field of data pre-processing and analysis using pandas and NumPy libraries. Make sure to run the code and attach a screenshot of your machine in the appendix of your report.

Q3 (10 marks)
Writ a python program to implement the below algorithm:
Create a NumPy array with 1000 random elements (numbers) and take the mean of every 5 sample window. 
[datamean]  < -- mean ( [ numpy_array (1 : 5 : end ) ] )
[data]min < -- min ( [ datamean ] )
[data]max < -- max ( [ datamean ] )
[ value ] max < -- max ( abs ( [data]max),  abs([ [data]min])
Include a section in your report  where you discuss your interpretation and significance of this task and make sure to run the code and attach a screenshot of your machine in the appendix of your report.

In [95]:
np_array = np.random.rand(1000)

In [97]:
sample = np.random.choice(np_array, size=5, replace=False)
print("Random sample from the array:", sample)

Random sample from the array: [0.12258144 0.07410927 0.38229493 0.95760457 0.95842122]

In [111]:
print("The neab value of the array is", sample.mean())

The neab value of the array is 0.49900228664868623

In [107]:
print("The min value of the array is", sample.min())

The min value of the array is 0.07410926623623582

In [113]:
print("The max value of the array is", sample.max())

The max value of the array is 0.9584212223089826